<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    @*<link rel="profile" href="http://gmpg.org/xfn/11">*@
    @*<link rel="pingback" href="http://demos.templatemela.com/woo/WCM02/WCM020029/xmlrpc.php">*@
    <script type="text/javascript">document.documentElement.className = document.documentElement.className + ' yes-js js_active js'</script>
    <title>Home - Diamond Store</title>
    <style>
        .wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <!--[if lt IE 9]>
    <![endif]-->
    <!-- This site is optimized with the Yoast SEO plugin v4.6 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="http://demos.templatemela.com/woo/WCM02/WCM020029/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home - Diamond Store">
    <meta property="og:description" content="Home Product TabOUR PRODUCTSLatestBest Seller Special Sale! Feugiat lorem Ring 4.25 out of 5 $100.00 $85.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Cumdict Diamond Ring 3.25 out of 5 $4,500.00 $4,399.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Pellente Cum Bracelet 3.00 out of 5 $650.00 $500.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Mauris Risus Earing 3.00 out of 5 $450.00 $399.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Tempor Mauris Nackless 3.50 out of 5 $350.00 $300.00 Buy product Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Pellentesque Nackless 2.75 out of 5 $250.00 $230.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Nackless Pellentesque 3.00 out of 5 $650.00 $500.00 Add… Read More">
    <meta property="og:url" content="http://demos.templatemela.com/woo/WCM02/WCM020029/">
    <meta property="og:site_name" content="Diamond Store">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Home Product TabOUR PRODUCTSLatestBest Seller Special Sale! Feugiat lorem Ring 4.25 out of 5 $100.00 $85.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Cumdict Diamond Ring 3.25 out of 5 $4,500.00 $4,399.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Pellente Cum Bracelet 3.00 out of 5 $650.00 $500.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Mauris Risus Earing 3.00 out of 5 $450.00 $399.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Tempor Mauris Nackless 3.50 out of 5 $350.00 $300.00 Buy product Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Pellentesque Nackless 2.75 out of 5 $250.00 $230.00 Add to cart Add to Wishlist Product added! Browse Wishlist The product is already in the wishlist! Browse Wishlist CompareQuick View Sale! Nackless Pellentesque 3.00 out of 5 $650.00 $500.00 Add… Read More">
    <meta name="twitter:title" content="Home - Diamond Store">
    <!-- / Yoast SEO plugin. -->
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Diamond Store » Feed" href="http://demos.templatemela.com/woo/WCM02/WCM020029/feed/">
    <link rel="alternate" type="application/rss+xml" title="Diamond Store » Comments Feed" href="http://demos.templatemela.com/woo/WCM02/WCM020029/comments/feed/">
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/demos.templatemela.com\/woo\/WCM02\/WCM020029\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.7" } };
        !function (a, b, c) { function d(a) { var b, c, d, e, f = String.fromCharCode; if (!k || !k.fillText) return !1; switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) { case "flag": return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c); case "emoji4": return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d"); for (i = Array("flag", "emoji4"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="~/Scripts/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="diamondstore_google_fonts-css" href="~/Content/css(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_css_isotope-css" href="~/Content/isotop-port.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_custom-css" href="~/Content/custom.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_owl.carousel-css" href="~/Content/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_owl.transitions-css" href="~/Content/owl.transitions.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_shadowbox-css" href="~/Content/shadowbox.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_shortcode_style-css" href="~/Content/shortcode_style.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_animate_min-css" href="~/Content/animate.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_woocommerce_css-css" href="~/Content/woocommerce.css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="~/Content/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="~/Content/settings.css" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        #rs-demo-id {
        }

        .tp-caption.special-txt, .special-txt {
            color: rgba(0,0,0,1.00);
            font-size: 50px;
            line-height: 50px;
            font-weight: 400;
            font-style: normal;
            font-family: Alex Brush;
            padding: 0 0 0 0px;
            text-decoration: none;
            background-color: transparent;
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px;
            text-align: left
        }

        .tp-caption.fashionable-txt, .fashionable-txt {
            color: rgba(26,26,26,1.00);
            font-size: 50px;
            line-height: 50px;
            font-weight: 400;
            font-style: normal;
            font-family: Alex Brush;
            padding: 0 0 0 0px;
            text-decoration: none;
            text-align: left;
            background-color: transparent;
            border-color: transparent;
            border-style: none;
            border-width: 0px;
            border-radius: 0 0 0 0px
        }

        #rev_slider_1_1 .zeus.tparrows {
            cursor: pointer;
            min-width: 70px;
            min-height: 70px;
            position: absolute;
            display: block;
            z-index: 100;
            border-radius: 50%;
            overflow: hidden;
            background: rgba(0,0,0,0.1);
        }

            #rev_slider_1_1 .zeus.tparrows:before {
                font-family: "revicons";
                font-size: 20px;
                color: rgb(255, 255, 255);
                display: block;
                line-height: 70px;
                text-align: center;
                z-index: 2;
                position: relative;
                .down
            }

            #rev_slider_1_1 .zeus.tparrows.tp-leftarrow:before {
                content: "\e824";
            }

            #rev_slider_1_1 .zeus.tparrows.tp-rightarrow:before {
                content: "\e825";
            }

        #rev_slider_1_1 .zeus .tp-title-wrap {
            background: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: absolute;
            opacity: 0;
            transform: scale(0);
            -webkit-transform: scale(0);
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            border-radius: 50%;
        }

        #rev_slider_1_1 .zeus .tp-arr-imgholder {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background-position: center center;
            background-size: cover;
            border-radius: 50%;
            transform: translateX();
            -webkit-transform: translateX(-100%);
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
        }

        #rev_slider_1_1 .zeus.tp-rightarrow .tp-arr-imgholder {
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
        }

        #rev_slider_1_1 .zeus.tparrows:hover .tp-arr-imgholder {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            opacity: 1;
        }

        #rev_slider_1_1 .zeus.tparrows:hover .tp-title-wrap {
            transform: scale(1);
            -webkit-transform: scale(1);
            opacity: 1;
        }

        .custom.tp-bullets {
        }

            .custom.tp-bullets:before {
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                padding: 10px;
                margin-left: -10px;
                margin-top: -10px;
                box-sizing: content-box;
            }

        .custom .tp-bullet {
            width: 12px;
            height: 12px;
            position: absolute;
            background: #aaa;
            background: rgba(125,125,125,0.5);
            cursor: pointer;
            box-sizing: content-box;
        }

            .custom .tp-bullet:hover,
            .custom .tp-bullet.selected {
                background: rgb(125,125,125);
            }

        .custom .tp-bullet-image {
        }

        .custom .tp-bullet-title {
        }
    </style>
    <link rel="stylesheet" id="siteorigin-panels-front-css" href="~/Content/front-flex.css" type="text/css" media="all">
    <link rel="stylesheet" id="apm-styles-css" href="~/Content/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-colorbox-css" href="~/Content/colorbox.css" type="text/css" media="all">
    <link rel="stylesheet" id="yith-quick-view-css" href="~/Content/yith-quick-view.css" type="text/css" media="all">
    <style id="yith-quick-view-inline-css" type="text/css">
        #yith-quick-view-modal .yith-wcqv-main {
            background: #ffffff;
        }

        #yith-quick-view-close {
            color: #cdcdcd;
        }

            #yith-quick-view-close:hover {
                color: #ff0000;
            }
    </style>
    <link rel="stylesheet" id="woocommerce_prettyPhoto_css-css" href="~/Content/prettyPhoto.css" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-selectBox-css" href="~/Content/jquery.selectBox.css" type="text/css" media="all">
    <link rel="stylesheet" id="yith-wcwl-main-css" href="~/Content/style(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="yith-wcwl-font-awesome-css" href="~/Content/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore-fonts-css" href="~/Content/css(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="font_awesome-css" href="~/Content/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore-style-css" href="~/Content/style(2).css" type="text/css" media="all">
    <link rel="stylesheet" id="diamondstore_responsive-css" href="~/Content/responsive.css" type="text/css" media="all">
    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jqtransform.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jqtransform.script.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/megnor.min.js"></script>
    <script type="text/javascript" src="~/Scripts/carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.inview.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.formalize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/shadowbox.js"></script>
    <script type="text/javascript" src="~/Scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.megamenu.js"></script>
    <script type="text/javascript" src="~/Scripts/easyResponsiveTabs.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.treeview.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jscroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/parallex.js"></script>
    <script type="text/javascript" src="~/Scripts/countUp.js"></script>
    <script type="text/javascript" src="~/Scripts/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/megnorloadmore.js"></script>
    <link href="~/Content/css(2).css" rel="stylesheet" type="text/css">
    <style type="text/css">
        h1 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h1 {
            color: #1A1A1A;
        }

        h2 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h2 {
            color: #1A1A1A;
        }

        h3 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h3 {
            color: #1A1A1A;
        }

        h4 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h4 {
            color: #1A1A1A;
        }

        h5 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h5 {
            color: #1A1A1A;
        }

        h6 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        h6 {
            color: #1A1A1A;
        }

        .home-service h3.widget-title {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }


        a {
            color: #666666;
        }

            a:hover {
                color: #1A1A1A;
            }

        .footer a, .site-footer a, .site-footer {
            color: #808080;
        }

            .footer a:hover, .footer .footer-links li a:hover, .site-footer a:hover {
                color: #FFD400;
            }

        h3 {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        .site-footer {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        .site-footer {
            background-color: #FFFFFF;
        }

        .navbar, .navbar-mobile {
            background-color: black;
        }

        body {
            background-color: #F7F7F7;
            background-image: url("http://demos.templatemela.com/woo/WCM02/WCM020029/wp-content/themes/diamondstore/images/megnor/colorpicker/pattern/body-bg.png");
            background-position: top left;
            background-repeat: repeat;
            background-attachment: scroll;
            color: #696969;
        }

        .topbar-outer {
            background: rgba(26,26,26,1)
        }

        .topbar-main, .contact-phone, .cal-us {
            color: #888888;
        }

            .topbar-main a, .header-menu-links li a, .header_logout a {
                color: #c0c0c0;
            }

                .topbar-main a:hover, .header-menu-links li a:hover, .header_logout a:hover {
                    color: #ffd400;
                }

        .navigation-menu {
            background-color: rgba(26,26,26,0.0)
        }

        .mobile-menu ul li a, .mega-menu ul li a {
            color: #FFFFFF;
        }

            .mobile-menu ul li a:hover, .mega-menu ul li a:hover, .mega-menu .current_page_item > a, .mobile-menu .current_page_item > a {
                color: #ffd400;
            }

        .site-header {
            background-color: rgba(26,26,26,0.9);
        }

        body {
            font-family: 'Domine', Arial, Helvetica, sans-serif;
        }

        .widget button, .widget input[type="button"],
        .widget input[type="reset"], .widget input[type="submit"],
        a.button, button, .contributor-posts-link, input[type="button"],
        input[type="reset"], input[type="submit"], .button_content_inner a,
        .woocommerce #content input.button, .woocommerce #respond input#submit,
        .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
        .woocommerce-page #content input.button, .woocommerce-page #respond input#submit,
        .woocommerce-page a.button, .woocommerce-page button.button {
            background-color: rgba(255,255,255,0.0);
        }

            .widget input[type="button"]:hover, .widget input[type="button"]:focus, .widget input[type="reset"]:hover, .widget input[type="reset"]:focus, .widget input[type="submit"]:hover, .widget input[type="submit"]:focus, a.button:hover, a.button:focus, button:hover, button:focus, .contributor-posts-link:hover, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .calloutarea_button a.button:hover, .calloutarea_button a.button:focus, .button_content_inner a:hover, .button_content_inner a:focus, .woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce #content input.button.disabled, .woocommerce #content input.button:disabled, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce-page #content input.button.disabled, .woocommerce-page #content input.button:disabled, .woocommerce-page #respond input#submit.disabled, .woocommerce-page #respond input#submit:disabled, .woocommerce-page a.button.disabled, .woocommerce-page a.button:disabled, .woocommerce-page button.button.disabled, .woocommerce-page button.button:disabled, .woocommerce-page input.button.disabled, .woocommerce-page input.button:disabled, .woocommerce #content table.cart .checkout-button:hover {
                background-color: rgba(26,26,26,1);
            }
    </style>
    <meta name="generator" content="Powered by Slider Revolution 5.2.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
    <style type="text/css" media="all" id="siteorigin-panels-layouts-head">
        /* Layout 2712 */ #pgc-2712-0-0, #pgc-2712-1-0, #pgc-2712-2-0, #pgc-2712-3-0, #pgc-2712-4-0 {
            width: 100%;
            width: calc(100% - ( 0 * 30px ) )
        }

        #pg-2712-0, #pg-2712-1, #pg-2712-2, #pg-2712-3, #pl-2712 .so-panel {
            margin-bottom: 30px
        }

            #pl-2712 .so-panel:last-child {
                margin-bottom: 0px
            }


            #pg-2712-0 .panel-grid-cell, #pg-2712-1 .panel-grid-cell, #pg-2712-2 .panel-grid-cell, #pg-2712-3 .panel-grid-cell, #pg-2712-4 .panel-grid-cell {
                margin-right: 0
            }

            #pg-2712-0 .panel-grid-cell, #pg-2712-1 .panel-grid-cell, #pg-2712-2 .panel-grid-cell, #pg-2712-3 .panel-grid-cell, #pg-2712-4 .panel-grid-cell {
                width: 100%
            }

        #pl-2712 .panel-grid-cell {
            padding: 0
        }

        #pl-2712 .panel-grid .panel-grid-cell-empty {
            display: none
        }

        #pl-2712 .panel-grid .panel-grid-cell-mobile-last {
            margin-bottom: 0px
        }

        }
    </style>
    <style>
        .shop-full-width .page-description a > img {
            display: none;
        }
    </style>

</head>
<body>
    <!-- Header -->
    <header id="masthead" class="site-header header full-width">
        <div class="topbar-outer">
            <div class="topbar-main theme-container" style="
    display: none;
">
                <div class="topbar-outer-cms">
                    <div class="topbar-cms-text1">
                        <div class="top_cms_text1">Our jewellery this season! ... Order by</div>
                    </div>
                    <div class="topbar-cms-text2">
                        <div class="top_cms_text2">7pm</div>
                    </div>
                    <div class="topbar-cms-text3">
                        <div class="top_cms_text3">for Next Day Delivery</div>
                    </div>
                </div>
                <div class="header-menu-links">
                    <span class="toplink-toggle"></span>



                    <ul id="menu-header-top-links" class="header-menu">
                        <li id="menu-item-5215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5215"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/my-account/">My Account</a></li>
                        <li id="menu-item-5216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5216"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/checkout/">Checkout</a></li>
                    </ul>


                </div>


            </div>
        </div>
        <div class="site-header-main">
            <div class="header-main theme-container">
                <div class="header_left">
                    <div class="header-logo">
                        <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/" title="Diamond Store" rel="home">
                            <img alt="diamondstore" src="../../img/logo.png" style="display: none;">
                        </a>
                    </div>
                </div><!-- End header_left -->
                <div class="header_center">
                    <div class="navigation-menu navigation-block ">
                        <div id="navbar" class="header-bottom navbar default">
                            <nav id="site-navigation" class="navigation main-navigation more toggled-on">
                                <h3 class="menu-toggle">Menu</h3>
                                <a class="screen-reader-text skip-link" href="http://demos.templatemela.com/woo/WCM02/WCM020029/#content" title="Skip to content">Skip to content</a>
                                <div class="mega-menu">
                                    <div class="menu-menu-container">
                                        <ul id="menu-menu" class="mega">
                                            <li id="menu-item-5211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2712 current_page_item menu-item-5211 home_first">@Html.ActionLink("Home", "Index")</li>
                                            <li id="menu-item-5213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5213">@Html.ActionLink("Shop", "Shop", null, new { @class = "dc-mega" })</li>
                                            <li id="menu-item-5205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5205">@Html.ActionLink("Contact Us", "Index", null, new { @class = "dc-mega" })</li>
                                            <li id="menu-item-5206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5205">
                                                @Html.ActionLink("Gallery", "Index", null, new { @class = "dc-mega" })
                                                @*<a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="level-0  activSub dc-mega">More<span class="dc-mega-icon"></span></a><div class="sub-container mega" style="left: 0px; top: 86px; z-index: 1000;">*@
                                            </li>
                                            <li id="menu-item-5206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5205">
                                                @Html.ActionLink("Sign In", "Contact", null, new { @class = "dc-mega" })
                                                @*<a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="level-0  activSub dc-mega">More<span class="dc-mega-icon"></span></a><div class="sub-container mega" style="left: 0px; top: 86px; z-index: 1000;">*@
                                                @*<div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5205-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/blog-2/">Sign In</a>*@
                                                <ul class="sub-menu" style="display: none;">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5197">@Html.ActionLink("Sign In", "Contact", null, new { @class = "dc-mega" })</li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5198">@Html.ActionLink("Register", "Contact", null, new { @class = "dc-mega" })</li>
                                                </ul>
                                            </li>
                                            @*<li id="menu-item-5206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5205">
                                                    @Html.ActionLink("Register", "Contact", null, new { @class = "dc-mega" })
                                                    <a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#" class="level-0  activSub dc-mega">More<span class="dc-mega-icon"></span></a><div class="sub-container mega" style="left: 0px; top: 86px; z-index: 1000;">
                                                </li>*@

                                        </ul>
                                    </div>
                                </div>
                                @*<div class="mobile-menu">
                                        <div class="menu-menu-container">
                                            <ul id="menu-menu-1" class="mobile-menu-inner treeview-list treeview">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2712 current_page_item menu-item-5211"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/">Home</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5213 expandable">
                                                    <div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5213-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shop/">Shop</a>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5205 expandable">
                                                    <div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5205-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/blog-2/">Blog</a>
                                                    <ul class="sub-menu" style="display: none;">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5197"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/blog-2/left-sidebar/">List Left Sidebar</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5198"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/blog-2/right-sidebar/">List Right Sidebar</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5199 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/blog-2/full-width/">List Fullwidth</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2690 expandable">
                                                    <div class="hitarea menu-item-hitarea menu-item-type-custom-hitarea menu-item-object-custom-hitarea menu-item-has-children-hitarea menu-item-2690-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#">Media</a>
                                                    <ul class="sub-menu" style="display: none;">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5184 expandable">
                                                            <div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5184-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/level-1/">Gallery</a>
                                                            <ul class="sub-menu" style="display: none;">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5185"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/level-1/level-2/">2 Columns</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5186"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/level-1/level-3/">3 Columns</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5187 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/level-1/level-3a/">4 Columns</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5206 expandable lastExpandable">
                                                            <div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5206-hitarea expandable-hitarea lastExpandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/portfolio/">Portfolio</a>
                                                            <ul class="sub-menu" style="display: none;">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5207"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/2-columns/">2 Columns</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5208"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/3-columns/">3 Columns</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5183 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/level-2a/">4 Columns</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2689 expandable">
                                                    <div class="hitarea menu-item-hitarea menu-item-type-custom-hitarea menu-item-object-custom-hitarea menu-item-has-children-hitarea menu-item-2689-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#">Shortcode</a>
                                                    <ul class="sub-menu" style="display: none;">
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2694 expandable">
                                                            <div class="hitarea menu-item-hitarea menu-item-type-custom-hitarea menu-item-object-custom-hitarea menu-item-has-children-hitarea menu-item-2694-hitarea expandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#">Shortcode page</a>
                                                            <ul class="sub-menu" style="display: none;">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5189"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/accordions-toggles/">Accordions &amp; Toggles</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5193"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/message-boxes/">Message Boxes</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5194"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/columns/">Columns</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5188"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/tabs/">Tabs</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5190"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/lists/">Lists</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5203 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/blockquote/">Blockquote</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2695 expandable lastExpandable">
                                                            <div class="hitarea menu-item-hitarea menu-item-type-custom-hitarea menu-item-object-custom-hitarea menu-item-has-children-hitarea menu-item-2695-hitarea expandable-hitarea lastExpandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/#">Shortcode page</a>
                                                            <ul class="sub-menu" style="display: none;">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5202"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/services/">Services</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5191"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/divider/">Divider</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5204"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/progress-bars/">Progress Bar &amp;  Pie Chart</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5201"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/buttons/">Buttons</a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5200 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/map/">Map &amp; Contact</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5192 expandable lastExpandable">
                                                    <div class="hitarea menu-item-hitarea menu-item-type-post_type-hitarea menu-item-object-page-hitarea menu-item-has-children-hitarea menu-item-5192-hitarea expandable-hitarea lastExpandable-hitarea"></div><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/features/">Pages</a>
                                                    <ul class="sub-menu" style="display: none;">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5196"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/shortcodes-2/typography/">Typography</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5195"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/faqs/">FAQs</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5214"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/sitemap/">Sitemap</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5209"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/about-us/">About Us</a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5210 last"><a href="http://demos.templatemela.com/woo/WCM02/WCM020029/contact-us/">Contact Us</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                            </nav><!-- #site-navigation -->
                        </div>
                    </div><!-- End navigation-menu -->
                </div><!-- End header_center -->
                <div class="header_right">

                    <div class="header-search">

                        <div class="header-toggle"> </div>
                        <div class="search-overlay">
                            <form role="search" method="get" class="woocommerce-product-search toggle-block" action="http://demos.templatemela.com/woo/WCM02/WCM020029/">
                                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products…" value="" name="s">
                                <input type="submit" value="Search">
                                <input type="hidden" name="post_type" value="product">
                            </form>
                        </div>

                    </div>


                    <div class="header_cart headercart-block">
                        <div class="cart togg">

                            <div id="shopping_cart" class="shopping_cart tog" title="View your shopping cart">

                                <a class="cart-contents" href="http://demos.templatemela.com/woo/WCM02/WCM020029/cart/" title="View your shopping cart">0</a>
                            </div>
                            <aside id="woocommerce_widget_cart-1" class="widget woocommerce widget_shopping_cart tab_content">
                                <div class="widget_shopping_cart_content">
                                    <ul class="cart_list product_list_widget ">

                                        <li class="empty">No products in the cart.</li>

                                    </ul><!-- end product list -->

                                </div>
                            </aside>
                        </div>
                    </div>


                </div>	<!-- End header_right -->
            </div><!-- End header-main -->
        </div><!-- End site-header-main -->
    </header>
    @RenderBody()

    <div class="footer-block">
        <div class="col-lg-4">@Html.ActionLink("Terms and Conditions", "Terms", null, new { @class = "dc-mega" })</div>

    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="../../scripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="../../scripts/scripts.js"></script>
    <script type="text/javascript" src="../../scripts/add-to-cart.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="../../scripts/js.cookie.min.js"></script>
    <script type="text/javascript" src="../../scripts/woocommerce.min.js"></script>
    <script type="text/javascript" src="../../scripts/cart-fragments.min.js"></script>
    <script type="text/javascript" src="../../scripts/woocompare.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="../../scripts/frontend.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.prettyPhoto.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.selectBox.min.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.yith-wcwl.js"></script>
    <script type="text/javascript" src="../../scripts/functions.js"></script>
    <script type="text/javascript" src="../../scripts/navigation.js"></script>
    <script type="text/javascript" src="../../scripts/validate.js"></script>
    <script type="text/javascript" src="../../scripts/wp-embed.min.js"></script>
    <script type="text/javascript" src="../../scripts/underscore.min.js"></script>
    <script type="text/javascript" src="../../scripts/wp-util.min.js"></script>
    <script type="text/javascript">

    </script>
    <script type="text/javascript" src="../../scripts/add-to-cart-variation.min.js"></script>
</body>
</html>
